<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
    <div class="container-header">
        <ion-img src="\assets\menu.png" style="width: 44px; height: 44px; margin-left: 10px;"></ion-img>
        <ion-img id="nike-logo" src="\assets\nikelogoblack.png" style="width: 80px; height: 80px; margin-top: 8px; margin-left: 35px;"></ion-img>
        <ion-img src="\assets\iconperfil.png" style="width: 85px; height: 85px; margin-top: 5px;"></ion-img>
    </div>


    <div class="container">
        <div class="background">
        <ion-img id="img" src="\assets\tenisverde.png" style="width: 140px; height: 100px;"></ion-img>
        </div>
        <div class="background">
        <ion-img id="img" src="\assets\tenisazul.png" style="width: 140px; height: 100px;"></ion-img>
        </div>
        <div class="background">
        <ion-img id="img" src="\assets\tenismarrom.png" style="width: 140px; height: 100px;"></ion-img>
        </div>
    </div>


    <ion-img id="img-principal" src="\assets\nike.png" alt="tenis da nike"></ion-img>

    <h1 id="nome-produto"> KYRIE INFINITY </h1>
    <h2> Calçados para Basquete </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.
    </p>
    <h2> Preço </h2>
    <div class="pe-da-pagina">
        <div class="padding">
        <h1 id="nome-produto"> R$799 </h1>
        </div>
        <div class="color">
        <ion-img id="icon" src="\assets\share.png" style="width: 30px; height: 30px;"></ion-img>
        </div>
        <div class="color">
        <ion-img id="icon" src="\assets\bag.png" style="width: 30px; height: 30px;"></ion-img> 
        </div>
    </div>
</ion-content>
