<ion-header [translucent]="true">
    
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img id="logo" src="\assets\nikelogo.png" alt="logo da nike" style="width: 140px; height: 90px;"></ion-img>
    <ion-img id="img-principal" src="\assets\tenisnikeverde.png" alt="tenis da nike"></ion-img>
    <div class="margem-texto">
      <h1> Summer<br>Collections</h1>
      <h1 id="text-white"> 2022 </h1>
    </div>
    <p id="txt-telainicial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.</p>
    <ion-button shape="round" routerLink="/tela">GET STARTED</ion-button>
</ion-content>
